@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --cell-size: 3.5rem;
  margin: 0;
  padding-top: 55px;
  overflow-y: scroll;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, 'Microsoft YaHei',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  color: var(--semi-color-text-0) !important;
  background-color: radial-gradient(var(--semi-color-primary), transparent 40%) no-repeat -170vw -55vh / 250vw 250vh, radial-gradient(closest-side, var(--semi-color-primary), transparent) no-repeat calc(100% + var(--cell-size) * 6) calc(var(--cell-size) * -7) / calc(var(--cell-size) * 12) calc(var(--cell-size) * 19) !important;
  height: 100vh;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  vertical-align: middle;
}

#root {
  height: 100vh;
  flex-direction: column;
}

@media only screen and (max-width: 767px) {

  .semi-table-tbody,
  .semi-table-row,
  .semi-table-row-cell {
    display: block !important;
    width: auto !important;
    padding: 2px !important;
  }

  .semi-table-row-cell {
    border-bottom: 0 !important;
  }

  .semi-table-tbody>.semi-table-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .semi-space {
    /*display: block!important;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 3px;
    column-gap: 10px;
  }
}

.semi-table-tbody>.semi-table-row>.semi-table-row-cell {
  padding: 16px 14px;
}

.channel-table {
  .semi-table-tbody>.semi-table-row>.semi-table-row-cell {
    padding: 16px 8px;
  }
}

/*.semi-layout {*/
/*  height: 100%;*/
/*}*/

.tableShow {
  display: revert;
}

.semi-chat {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 100%;
}

.semi-chat-chatBox-content {
  min-width: auto;
  word-break: break-word;
}

.tableHiddle {
  display: none !important;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.semi-navigation-vertical {
  /*display: flex;*/
  /*flex-direction: column;*/
}

.semi-navigation-item {
  margin-bottom: 0;
}

.semi-navigation-vertical {
  /*flex: 0 0 auto;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*width: 100%;*/
  height: 100%;
  overflow: hidden;
}

.main-content {
  padding: 4px;
  height: 100%;
}

.small-icon .icon {
  font-size: 1em !important;
}

.custom-footer {
  font-size: 1.1em;
}

@media only screen and (max-width: 600px) {
  .hide-on-mobile {
    display: none !important;
  }
}

/* 首行不加margin-bottom */
.semi-form-horizontal .semi-form-field {
  margin-bottom: 8px;
}

.header-bar-nav {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.header-bar-nav .semi-navigation-inner {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.header-bar-nav .semi-navigation-inner .semi-navigation-header-list-outer {
  width: 100%;
  flex: 1 1 auto;
  overflow-x: auto;
  position: relative;
  z-index: 1;
}

.header-bar-nav .semi-navigation-inner .semi-navigation-header-list-outer .semi-navigation-header {
  position: absolute;
  z-index: 2;
}

.header-bar-nav .semi-navigation-inner .semi-navigation-list-wrapper {
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  margin-left: 32px;
  position: relative;
  z-index: 3;
}

.header-bar-nav .semi-navigation-inner .semi-navigation-footer {
  flex: 1;
}
